body{
  padding: 0px, 0px, 0px, 0px;
}
#content{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1663px;
  height: 1049px;
  background-image: url(./img_interface/background.png);
  background-size: 100% 100%;
  margin-top: 0px;

}
#level{
  width: 768px;
  height: 768px;
  background-image: url(./img_interface/game_here.png);
  margin: 20px auto;
  left: 447.5px;
}
#contact{
  margin: 0 auto;
  width: 768px;
  margin-top: 20px;
  height: auto;
  text-align: center;
}
